<div class="jumbotron mt-4" style="background: white;">
    <h1 class="display-4">Ficha para aspirante</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum in excepturi nobis, distinctio eius
    iusto quae quasi voluptatibus aliquam, reprehenderit ex nihil mollitia sunt, nostrum cum laboriosam? Qui,
    voluptatibus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus odio modi. Harum dignissimos, eveniet ad odit mollitia aliquam alias?</p>
</div>